.navbar {
  grid-area: navbar;
  background: var(--bg-color-dark);
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 20px;
  border-bottom: 1px solid gray;

  .navButtonsGroup {
    display: flex;
    margin: 0;
    height: 100%;

    .navButton {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0;
      padding: 0 20px;
      box-sizing: border-box;
      transition: background-color 0.2s ease;

      &:hover {
        cursor: pointer;
        background-color: rgba(240, 248, 255, 0.267);
      }

      p {
        font-size: 18px;
      }
    }
  }
}
